$font-family: Futura;
$font-size: 16px;
$bg-color: rgba(27, 24, 24, 0.7);
$line-height: 1.7em;
$navbar-size: 50px;
$page-size: 800px;

@mixin landscape {
    @media screen and (max-device-width: 736px)
                  and (orientation: landscape) {
      @content;
    }
}

@mixin mini {
  @media screen and (max-width: 390px) {
    @content;
  }
}

@mixin middle {
  @media screen and (min-width: 590px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 990px) {
    @content;
  }
}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @-moz-keyframes #{$name} {
      @content;
  }
  @-o-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}

@include keyframes(moveDown)  {
  0% {
    top: 10px;
  }
  100% {
    top: 50px;
  }
}

.zero-space {
  margin: 0;
  padding: 0;
}

.full-space {
  width: 100%;
  height: 100%;
}

html, body {
  @extend .zero-space;
  @extend .full-space;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  /* stop users from being able to select text */
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* end of copy-stop code    */
  @include mini {
    h1 {
      font-size: 120%;
    }
  }
  nav {
    height: $navbar-size;
    width: 100%;
    background-color: $bg-color;
    position: fixed;
    top: 0;
    z-index: 100;
    @include landscape {
      height: $page-size;
      width: $navbar-size;
      left: 0;
    }
    ul {
      @extend .zero-space;
      // text-align: right;
      float: right;
      list-style-type: none;
      margin-right: 5px;
      @include landscape {
        margin-left: -2px;
        margin-top: 50px;
        margin-right: 0;
        text-align: center;
      }
      li {
        &:first-child {
          float: left;
          position: absolute;
          top: 0;
          left: 5px;
          @include mini {
            & span {
              display: none;
            }
            & .fa {
              display: inherit;
            }
          }
        }
        display: inline-block;
        margin: 5px;
        height: $navbar-size - 10;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          &.activeNavItem {
            opacity: 1;
          }
          .fa {
            display: none;
            @include landscape {
              display: inherit;
            }
          }
          span {
            @include landscape {
              display: none;
            }
          }
        }
      }
    }
  }
  #imgBg {
    z-index: -1000;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    @include filter(brightness, 60%);
  }
  main {
    margin-top: $navbar-size;
    @include landscape {
      margin-top: 0;
      margin-left: $navbar-size;
    }
  }
  section {
      width: 90%;
      max-width: 1200px;
      margin: 20px auto;
      padding: 10px;
      &:first-child {
        height: 800px;
        & > * {
          display: none;
        }
      }
      &:not(:first-child) {
        background-color: $bg-color;
      }
      color: white;
      text-align: center;
      article {
        h1 {
          font-size: 1.5em;
          @include mini {
            font-size: 110%;
            & {
              margin-top: 8px;
            }
          }
        }
        & > *:not(:first-child) {
          width: 80%;
          display: inline-block;
          vertical-align: middle;
          @include large {
            margin: 20px;
            margin-bottom: 30px;
            margin-top: 10px;
            width: 40%;
          }
        }
      }
      & a p {
        margin-top: 10px;
      }
      .collection {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        .case {
          width: 100%;
          @include middle {
            width: 50%;
            &:last-child {
              width: 100%;
            }
          }
          @include large {
            width: 33.33%;
            &:last-child {
              width: 33.3%;
            }
          }
          margin: 10px auto;
          position: relative;
          p {
            font-size: 1.5em;
            position: absolute;
            height: 10px;
            margin: auto;
            top: -30px; left: 0; bottom: 0; right: 0;
            visibility: hidden;
          }
          &:hover {
            p {
              visibility: visible;
              z-index: 90;
            }
            img {
              @include filter(brightness, 40%);
            }
          }
        }
      }
      .arrow {
        width:70px;
        height: 110px;
        margin: auto;
        margin-top: 150px;
        position: absolute;
        cursor: pointer;
        i {
          position: absolute;
          opacity: 0.7;
          left: 3px;
          animation: moveDown 1s ease-in-out infinite;
          &:hover {
            opacity: 1;
          }
          @include mini, landscape{
            zoom: 90%;
          }
        }
      }
      &.footer {
        padding-top: 30px;
        a {
            margin: 10px;
            &:hover {
              opacity: 1;
            }
         }
         @include mini {
           padding-top: 10px;
           p {
             margin-top: 5px;
           }
         }
      }
   }
}

a, a:hover, a:link, a:active, a:visited {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

form {
  text-align: left;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  input, textarea {
    margin-bottom: 16px;
    margin-top: 5px;
    width: 93%;
    background-color: inherit;
    color: inherit;
    font-size: 1.5em;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  input[type='submit'] {
    width: 100px;
 }
  div {
    position: relative;
    width: 100%;
    &#submit {
      display: flex;
    }
    @include large {
      &:not(:last-child) {
        width: 50%;
      }
    }
  }
}

img {
  width: 95%;
  height: auto;
}

#info {
  width: 60%;
  margin: 5px 35px;
  div {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.6em;
    text-align: center;
    display: none;
    @include mini {
      font-size: 1.4em;
      line-height: 0.8em;
    }
  }
}

p {
  width: 80%;
  margin: 20px auto;
  opacity: 0.7;
  @include middle {
    font-size: 1.3em;
  }
}

.error {
  color: red;
}
.success {
  color: green;
}

.navAside {
  height: $page-size;
  width: $navbar-size;
  left: 0;
}
